{% extends 'website/base.html' %}
{% load static %}

{% block content %}


<section class="pt-7">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 text-md-start text-center py-6">
                <div>
                    <p>На цій сторінці ви можете заповнити основну інформацію про ваш сервіс.</p>
                    <p style="color: red">Натиснувши 'Save' дані оновлюються в базі без додаткових повідомлень в
                        інтерфейсі!</p>
                </div>
                <form action="{% url 'account' %}" method="post">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">{{ service_data.name.label }}:</label>
                        <input name="{{ service_data.name.name }}" type="text" class="form-control"
                               id="exampleFormControlInput1"
                               value="{{ service_data.name.value|capfirst }}">
                        <div id="emailHelp" class="form-text">Вкажіть назву вашого бізнесу, приклад: Світлана Мастер
                            манікюру
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">{{ service_data.county.label }}</span>
                        <select id="county" name="{{ service_data.county.name }}" class="form-select">
                            {% for i in service_data.county %}
                            <option value="{{ i.data.value }}" {% if i.data.selected %} selected{% endif %}>
                                {{ i.data.label|capfirst }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">{{ service_data.city.label }}</span>
                        <select id="cities" name="{{ service_data.city.name }}" class="form-select">
                            {% for i in service_data.city %}
                            <option value="{{ i.data.value }}" {% if i.data.selected %} selected{% endif %}>
                                {{ i.data.label|capfirst }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-text">Вказуйте назву міста, селища, тільки англійською мовою.</div>
                    <br>
                    {{ service_data.type_of_business.label_tag }}
                    <div class="input-group mb-3">
                        <select name="{{ service_data.type_of_business.name }}" class="form-select">
                            {% for i in service_data.type_of_business %}
                            <option value="{{ i.data.value }}" {% if i.data.selected %} selected{% endif %}>
                                {{ i.data.label|capfirst }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Про ваш бізнес:</label>
                        <textarea name="{{ service_data.about.name }}" class="form-control"
                                  id="exampleFormControlTextarea1" rows="3">{{ service_data.about.value }}</textarea>
                        <div class="form-text">Розкажіть трішки про ваш сервіс</div>
                    </div>
                    <p style="color: red">Контактні дані, які ви вкажете нижче, будуть доступні всім користувачам, які
                        шукають ваші послуги</p>
                    <div class="input-group mb-3">
                        <span class="input-group-text">e-mail</span>
                        <input name="{{ service_data.email.name }}" type="email" class="form-control"
                               value="{{ service_data.email.value }}"
                               aria-label="Username"
                               aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Phone</span>
                        <input name="{{ service_data.phone.name }}" type="text" class="form-control"
                               value="{{ service_data.phone.value }}">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Telegram</span>
                        <input name="{{ service_data.telegram.name }}" type="text" class="form-control"
                               value="{{ service_data.telegram.value }}">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Instagram</span>
                        <input name="{{ service_data.insta.name }}" type="text" class="form-control"
                               value="{{ service_data.insta.value }}">
                    </div>
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
                <br>
                <div class="d-grid gap-2">
                    <a href="{% url 'services' %}" class="btn btn-primary" type="button">Мої послуги</a>
                </div>

            </div>
            <div class="col-md-6 text-end">
                <img class="pt-7 pt-md-0 img-fluid" src="{% static 'website/assets/img/hero/hero-img.png' %}" alt=""/>
            </div>
        </div>
    </div>
</section>
{% endblock %}