{% extends 'website/base.html' %}
{% load static %}

{% block content %}

<section class="pt-7">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 text-md-start text-center py-6">
                <h2 style="color: ">Хто ми є</h2>
                Адреса нашого веб-сайту: https://www.uado.ie.

                <h2>ЗМІ</h2>
                <h6>Рекомендований текст:</h6> якщо ви завантажуєте зображення на веб-сайт, вам слід уникати завантаження
                зображень із вбудованими даними про місцезнаходження (EXIF GPS). Відвідувачі веб-сайту можуть
                завантажувати та витягувати будь-які дані про місцезнаходження із зображень на веб-сайті.

                <h2>Печиво</h2>
                Якщо ви відвідаєте нашу сторінку входу, ми встановимо тимчасовий файл cookie, щоб визначити, чи приймає
                ваш браузер файли cookie. Цей файл cookie не містить персональних даних.

                Коли ви ввійдете в систему, ми також налаштуємо кілька файлів cookie, щоб зберегти вашу інформацію для
                входу та варіанти відображення на екрані. Файли cookie для входу зберігаються протягом двох днів, а
                файли cookie параметрів екрана – протягом року. Якщо ви вийдете зі свого облікового запису, файли cookie для входу
                будуть очищені.

                Якщо ви редагуєте або публікуєте оголошення чи пропозицію про вакансії, додатковий файл cookie буде
                збережено у вашому браузері. Цей файл cookie не містить персональних даних. Термін дії закінчується через 1 день.
                <h6>Також своє почиво, можуть встановлювати інші додатки(вендори), сервісами та технологіями яких ми користуємося для
                створення цього веб-сайту.<br>
                Админістрація і власники домену не несуть відповідальності за збір даних подібними сервісами.</h6>
                Детальніше <a href="https://policies.google.com/privacy?hl=en-GB">тут</a>.
                <h2>З ким ми ділимось даними</h2>
                <h6>Як довго ми зберігаємо ваші дані</h6>
                Для користувачів, які реєструються на нашому веб-сайті, ми також зберігаємо особисту інформацію, яку
                вони надають у своєму профілі користувача. Усі користувачі можуть переглядати, редагувати або видаляти
                свою особисту інформацію в будь-який час (за винятком того, що вони не можуть змінити своє імейл адресу реєстрації).
                Адміністратори веб-сайтів також можуть переглядати та редагувати цю інформацію.
                Ви можете запросити видалення свого облікового запису у будь-який час.

                <h2>Які права ви маєте на свої дані</h2>
                Якщо у вас є обліковий запис на цьому сайті або ви залишили коментарі, ви можете подати запит на
                отримання експортованого файлу особистих даних, які ми зберігаємо про вас, включаючи будь-які дані, які
                ви нам надали. Ви також можете попросити нас видалити будь-які персональні дані, які ми зберігаємо про
                вас. Це не включає будь-які дані, які ми зобов’язані зберігати в адміністративних, юридичних або
                безпекових цілях.

                <h2>Куди ми надсилаємо ваші дані</h2>
                Щоб запобігти спаму пропозицій роботи на цьому веб-сайті, ми використовуємо Google ReCaptcha. Сторінки,
                у яких вбудовано reCaptcha, надсилають дані в Alphabet. Ви можете знайти їх інформацію про
                конфіденційність <a href="https://policies.google.com/privacy?hl=en-GB">тут</a>.
                <br>
                Також ішнформація яку ви розміщуєте на даному веб-сайті, доступна в телеграм боті @uado_bot, окрім паролю
                від вашого облікового запису та імейлу за допомогою якого ви пройшли реєстрацію на цьому сайті - окрім випадків коли ви
                вказали ці дані, як такі, за допомогою яких можна з вами звязатися.
                <h2>Відповідальність сторін</h2>
                Адміністрація не несе відповідальності за достовірність контактних даних, які розміщують користувачі.<br>
                Також за будь яку інфомацію, яку поширують користувачі на сайті uado.ie.<br>
                Це включає будь які текстові, графічні, чи/та будь якого іншого виду матеріали.
            </div>
            <div class="col-md-6 text-end"><img class="pt-7 pt-md-0 img-fluid"
                                                src="{% static 'website/assets/img/hero/hero-img.png' %}" alt=""/></div>
        </div>
    </div>
</section>
{% endblock %}